![](Pasted%20image%2020261012121558.png)![](Pasted%20image%2020261012121642.png)
![](Pasted%20image%2020261012121659.png)
![](Pasted%20image%2020261012121730.png)
![](Pasted%20image%2020261012121750.png)