![](../../attachments/Pasted%20image%2020261012121558.png)![](../../attachments/Pasted%20image%2020261012121642.png)
![](../../attachments/Pasted%20image%2020261012121659.png)
![](../../attachments/Pasted%20image%2020261012121730.png)
![](../../attachments/Pasted%20image%2020261012121750.png)